<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ealmrtc.bankadmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UfbAdmin">
        <activity android:name="com.ealmrtc.bankadmin.activity.AllTaskViewActivity"></activity>
        <activity android:name="com.ealmrtc.bankadmin.activity.ViewAllVipActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.PymentCompletActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.PymentRequstActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.VipPurchechReActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.AddPackageActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.WebViewActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.AddYouTubeChannalActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.SocialLinkActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.NotisActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.SliderActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.CategoryAddActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.VideoAddActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.TaskActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.UserListActivity" />
        <activity android:name="com.ealmrtc.bankadmin.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>